In [3]:

import pandas as pd
import matplotlib as plt
import os.path
from scipy.stats import linregress

In [6]:
disasterPath = os.path.join("disaster-data", "disaster_data.xlsx")
disasterData = pd.read_excel(disasterPath, sheet_name="EM-DAT Data")

hdiPath = os.path.join("disaster-data", "hdi_data.csv")
hdiData = pd.read_csv(hdiPath)

In [14]:
hdiClean = hdiData.filter(regex="[2][0-9][0-9][0-9]", axis=1)
hdiClean

,hdi_rank_2021,hdi_2000,hdi_2001,hdi_2002,hdi_2003,hdi_2004,hdi_2005,hdi_2006,hdi_2007,hdi_2008,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,180.0,0.335,0.337,0.362,0.376,0.392,0.400,0.409,0.424,0.430,...,1.860000,1.880000,1.660000,1.620000,1.660000,1.410000,1.320000,1.380000,1.380000,1.380000
1,148.0,0.375,0.386,0.403,0.420,0.433,0.447,0.459,0.475,0.486,...,4.090000,4.530000,3.970000,3.590000,2.790000,2.640000,2.280000,2.180000,2.180000,2.180000
2,67.0,0.677,0.684,0.689,0.696,0.700,0.711,0.718,0.730,0.736,...,12.440000,11.490000,13.140000,12.610000,14.390000,14.460000,12.850000,12.960000,12.960000,12.960000
3,40.0,0.818,0.825,0.832,0.841,0.833,0.833,0.848,0.847,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26.0,0.796,0.800,0.804,0.814,0.818,0.822,0.827,0.831,0.834,...,49.560000,49.680000,55.490000,59.760000,64.950000,75.610000,65.970000,68.950000,68.950000,68.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,NaN,0.681,0.687,0.695,0.702,0.709,0.714,0.723,0.730,0.733,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,NaN,0.689,0.693,0.698,0.699,0.705,0.710,0.716,0.721,0.728,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,NaN,0.500,0.504,0.511,0.522,0.531,0.539,0.548,0.556,0.561,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,NaN,0.430,0.435,0.443,0.451,0.460,0.468,0.477,0.484,0.492,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,NaN,0.645,0.650,0.655,0.660,0.666,0.672,0.679,0.684,0.688,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920